@use '../../tokens';

.c-list-toolbar {
  display: flex;
  column-gap: 10px;
  position: relative;
  flex: 1;

  &__modal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 5px;

    &__title {
      @include tokens.text-base-highlight();
    }
  }

  &__item-wrapper {
    display: flex;

    &__item {
      display: flex;

      &__btn {
        all: unset;
        flex: 1;
        display: flex;
        column-gap: 5px;
        align-items: center;
        background-color: tokens.$bg-subtle;
        cursor: pointer;
        padding: 10px 15px;
        border-radius: tokens.$border-r-default;

        svg {
          width: 19px;
          height: 19px;
        }

        &:hover {
          background-color: tokens.$bg-subtle-hover;
        }
      }
    }
  }
}
