@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$quicksand: 'Quicksand', sans-serif;

@mixin text-form($fs, $fw: 400) {
  font-family: $quicksand;
  font-weight: $fw;
  font-size: $fs;
  line-height: 1.5;
}
