@use '../../../tokens';

.c-info-card {
  display: flex;
  background-color: tokens.$bg-default;
  border-radius: tokens.$border-r-soft;
  padding: 20px 30px 10px;
  cursor: pointer;
  min-height: 150px;

  &--disabled {
    background-color: tokens.$bg-subtle;
  }

  &:hover {
    background-color: tokens.$bg-subtle;
  }

  a {
    all: unset;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @include tokens.text-base-highlight();
    margin-bottom: 5px;
  }

  &__desc {
    @include tokens.text-sm();
  }

  &__mascot {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;

    img {
      width: 50px;
      height: 50px;
    }
  }
}
