@use '../../../tokens';

.c-info-card {
  display: flex;
  background-color: tokens.$bg-subtle;
  border-radius: tokens.$border-r-soft;
  padding: 20px 20px 10px;
  cursor: pointer;
  border: 1px solid tokens.$border-color-dark;
  transition: background-color 0.3s;

  &:hover {
    background-color: tokens.$bg-default;

    .c-info-card__title {
      background-color: #fff;
    }
  }

  a {
    all: unset;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @include tokens.text-base-highlight();
    margin-bottom: 5px;
    background-color: tokens.$bg-default;
    width: max-content;
    border-radius: tokens.$border-r-soft;
    padding: 2px 5px;
    transition: background-color 0.3s;
  }

  &__desc {
    @include tokens.text-sm();
  }

  &__mascot {
    display: flex;
    align-items: end;
    margin: auto;
    height: 100%;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.c-info-card--disabled {
  background-color: tokens.$bg-subtle;

  .c-info-card__title {
    background-color: tokens.$bg-subtle;
  }

  &:hover {
    background-color: tokens.$bg-subtle;

    .c-info-card__title {
      background-color: tokens.$bg-subtle;
    }
  }
}
