@use '../../tokens';

.p-occurrence {
  position: relative;
  height: 100%;

  &__cards {
    display: grid;
    row-gap: 30px;
    column-gap: 40px;
    padding-bottom: 50px;
  }

  &__no-data {
    display: flex;
    justify-content: center;
    height: 100%;

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-items: center;
      align-items: center;
    }
  }

  .c-list-toolbar__item-wrapper {
    .c-dynamic-modal {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding: 10px 0;
        border-radius: tokens.$border-r-default;

        li {
          background-color: tokens.$bg-subtle-light;
          border-radius: tokens.$border-r-soft;
          padding: 5px 10px;
        }
      }
    }
  }

  &--events {
    .p-occurrence__cards {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  &--actions {
    .p-occurrence__cards {
      grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    }

    &:has(.c-countup-card--show-desc) {
      .p-occurrence__cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }

      .c-countup-card {
        width: fit-content;

        &__left-container {
          flex: none;
        }
      }
    }
  }
}
