@use '../../tokens';

.p-occurrence {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  &__tabs {
    display: flex;
    column-gap: 10px;
    margin-left: auto;

    svg {
      width: 30px;
      height: 30px;
    }

    &__tab {
      all: unset;
      border: 1px solid tokens.$border-color-dark;
      padding: 5px 10px;
      border-radius: tokens.$border-r-default;
      cursor: pointer;
      transition: background-color 0.5s;
      background-color: tokens.$bg-subtle;

      &--active,
      &:hover {
        background-color: tokens.$bg-default;
      }
    }
  }

  .c-list-toolbar__item-wrapper {
    .c-dynamic-modal {
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding: 10px 0;
        border-radius: tokens.$border-r-default;

        li {
          background-color: tokens.$bg-subtle;
          border-radius: tokens.$border-r-soft;
          padding: 5px 10px;
        }
      }
    }
  }

  &--actions {
    &:has(.c-countup-card--show-desc) {
      .p-occurrence__cards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }

      .c-countup-card {
        width: fit-content;

        &__left-container {
          flex: none;
        }
      }
    }
  }
}
