@use '../../tokens';

.p-occurrence {
  display: flex;
  column-gap: 10px;
  position: relative;
  flex: 1;

  &__aside {
    display: flex;
    flex-direction: column;
    height: calc(100% - 140px);
    position: fixed;
    width: 70px;

    &__tabs {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 10px;

      svg {
        width: 25px;
        height: 25px;
      }

      &__tab {
        all: unset;
        border: 1px solid tokens.$border-color-dark;
        padding: 5px 10px;
        border-radius: tokens.$border-r-default;
        cursor: pointer;
        transition: background-color 0.5s;
        background-color: tokens.$bg-subtle;

        &--active,
        &:hover {
          background-color: tokens.$bg-default;
        }
      }
    }

    &__month-switch {
      display: flex;
      flex-direction: column;
      row-gap: 180px;
      margin-top: auto;
      background-color: tokens.$bg-subtle;
      border-radius: tokens.$border-r-default;
      padding: 10px;
      justify-content: center;
      overflow: hidden;
      position: relative;

      span {
        @include tokens.text-lg();
        border-radius: tokens.$border-r-default;
        display: inline-block;
        width: max-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(270deg);
      }

      button {
        all: unset;
        background-color: tokens.$bg-default;
        width: max-content;
        padding: 10px;
        border-radius: tokens.$border-r-default;
        cursor: pointer;

        &:hover {
          background-color: tokens.$bg-default-hover;
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__content {
    display: flex;
    flex: 1;
    margin-left: 70px;
  }
}
