@use '../../tokens';

.p-homepage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  @media (min-width: tokens.$tablet-min) {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px auto 0px;
    max-width: 75%;
  }

  @media (min-width: tokens.$desktop-lg-min) {
    grid-template-columns: repeat(4, 1fr);
    margin: 50px auto 0px;
    max-width: 70%;

    .c-info-card {
      height: 200px;
    }
  }
}
