@use '../../tokens';

.p-homepage {
  display: flex;
  height: 100%;

  &__intro {
    display: flex;
    align-items: center;
    margin-left: 30px;
    flex: 1;

    h1 {
      background-color: tokens.$bg-subtle;
      padding: 0px 20px 0px 10px;
      border-radius: tokens.$border-r-soft;
      @include tokens.text-xl-highlight();
      font-size: 45px;
    }

    h3 {
      @include tokens.text-base();
      font-size: 19px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    flex: 1;

    @media (min-width: tokens.$tablet-min) {
      grid-template-columns: repeat(2, 1fr);
      margin: auto 40px auto auto;
    }
  }
}
