@use './base.scss';

$text-color: (
  default: $dark-md,
  error: $red,
  success: $grass,
  invert: $gray-40,
  highlight: $blue,
);

@each $name, $color in $bg-colors {
  %text-color-#{$name} {
    color: $color;
  }
}
