/* Error: Undefined variable.
 *    ,
 * 18 | $shadow-xs: 0px 0px 13px 4px rgba(colors.$gray, 0.3);
 *    |                                   ^^^^^^^^^^^^
 *    '
 *   src\assets\sass\tokens\_effects.scss 18:35  @forward
 *   src\assets\sass\tokens\_index.scss 6:1      @use
 *   src\assets\sass\main.scss 2:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 18 \2502  $shadow-xs: 0px 0px 13px 4px rgba(colors.$gray, 0.3);\d\a    \2502                                    ^^^^^^^^^^^^\a    \2575 \a   src\\assets\\sass\\tokens\\_effects.scss 18:35  @forward\a   src\\assets\\sass\\tokens\\_index.scss 6:1      @use\a   src\\assets\\sass\\main.scss 2:1               root stylesheet";
}
