@use '../../tokens';

.c-add-card {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: tokens.$border-r-default;
  background-color: tokens.$bg-subtle;
  cursor: pointer;
  padding: 20px 0;

  &:hover {
    background-color: tokens.$bg-subtle-hover;
  }

  svg {
    height: 30px;
    width: 30px;
  }
}
