@use '../../tokens';

.c-countdown-card {
  display: flex;
  position: relative;
  border-radius: tokens.$border-r-default;
  border: 1px solid transparent;

  &:hover {
    .c-countdown-card__checkbox-container {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
    }

    border-color: tokens.$border-default;
  }

  > div:first-of-type {
    padding: 0.5rem;
    border-top-left-radius: tokens.$border-r-default;
    border-bottom-left-radius: tokens.$border-r-default;
    display: flex;
    flex: 2;

    > div {
      align-self: flex-end;
    }
  }

  &__title-container {
    width: fit-content;
    display: flex;
    column-gap: 5px;

    button {
      all: unset;
      cursor: pointer;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__desc {
    font-size: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &__title {
    @include tokens.text-base-highlight();
    margin: 0;

    &--desc-hidden {
      flex: 2;
    }
  }

  &__date {
    font-weight: 300;
    font-size: 12px;
  }

  &__checkbox-container {
    display: none;
  }

  &__counting-container {
    padding: 33px 19px 30px 17px;
    border-top-right-radius: tokens.$border-r-default;
    border-bottom-right-radius: tokens.$border-r-default;
    display: flex;

    span {
      text-align: center;
      align-self: center;
    }
  }
}
