@use '../tokens';

// .todo {
//   position: absolute;
//   right: 0;
//   min-width: 25%;
//   max-width: 30%;
//   background-color: colors.$color-gray3;
//   border-radius: effects.$border-r-md;
//   padding: 0 1.5rem;
// }

.p-events {
  position: relative;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 20px;

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 30px;
    column-gap: 40px;
  }
}
