@use '../../../tokens';

.c-not-found {
  display: flex;
  justify-content: center;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
  }

  &__highlight {
    color: tokens.$text-color-highlight;
    font-weight: 700;
  }
}
