@use '../../../tokens';

.c-countup-card {
  &__left-container {
    padding: 10px 20px;
    align-items: center;
    flex: 1;
    border-top-right-radius: tokens.$border-r-default;
    border-bottom-right-radius: tokens.$border-r-default;
  }

  &--show-desc {
    .c-countup-card__left-container {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
  }

  &__title-container,
  &__date {
    justify-self: center;
    display: block;
  }

  &__right-container {
    flex: 2;
  }

  &__countup {
    display: flex;
    flex-direction: column;
  }

  &__countup__num {
    margin: 0 auto;
    @include tokens.text-xl-highlight();
  }

  &__countup__ext {
    margin: 0 auto;
    @include tokens.text-base();
  }

  &__desc-btn {
    all: unset;
    cursor: pointer;
    position: absolute;
    bottom: 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.c-occurrence-card-wrapper {
  .c-occurrence-card {
    display: flex;
    position: relative;
    border-radius: tokens.$border-r-default;
    border: 1px solid tokens.$border-color-dark;
    min-height: 115px;
    height: 100%;

    &:hover {
      .c-occurrence-card__checkbox-container {
        display: block;
      }
    }

    &__checkbox-container {
      position: absolute;
      top: 5px;
      right: 5px;
    }

    &:has(.c-occurrence-card__checkbox-container > input:checked) {
      border-width: 2px;
    }

    &__left-container {
      position: relative;
      display: flex;
      overflow: hidden;
      border-top-left-radius: tokens.$border-r-default;
      border-bottom-left-radius: tokens.$border-r-default;

      > div {
        flex: 1;
      }

      &__category-icon {
        position: absolute;
        bottom: -5px;
        right: 15px;

        svg {
          width: 30px;
          height: 30px;
        }
      }

      &--Personal {
        background-color: tokens.$ice-mint;
      }
    }

    &__right-container {
      display: flex;
      border-top-right-radius: tokens.$border-r-default;
      border-bottom-right-radius: tokens.$border-r-default;
      border-left: 1px solid tokens.$border-color-dark;
      background-color: #fff;
      padding: 33px 19px 30px 17px;

      span {
        text-align: center;
        align-self: center;
      }
    }

    &__title-container {
      width: fit-content;
      display: flex;
      column-gap: 5px;

      button {
        all: unset;
        cursor: pointer;

        svg {
          width: 20px;
          height: 20px;
        }
      }

      &__input {
        all: unset;
        color: tokens.$text-color-default;
        @include tokens.text-base-highlight();
        margin: 0;

        &::placeholder {
          color: tokens.$text-color-default;
          opacity: 0.8;
          @include tokens.text-base-highlight();
        }

        &--desc-hidden {
          flex: 2;
        }
      }

      &__title {
        @include tokens.text-base-highlight();
        word-break: break-all;
      }
    }

    &__desc {
      font-size: 10px;
      overflow-wrap: break-word;
      word-break: break-word;
    }

    &__date {
      font-weight: 300;
      font-size: 12px;
    }

    &__checkbox-container {
      display: none;
    }
  }

  .c-dynamic-modal {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    cursor: auto;
    top: 30%;

    &__title {
      span {
        @include tokens.text-base-highlight();
      }
    }

    textarea,
    input,
    select {
      all: unset;
      background-color: tokens.$bg-subtle;
      padding: 7px 10px;
      border-radius: tokens.$border-r-soft;
      @include tokens.text-sm();
      color: tokens.$text-color-default;
    }
  }
}
