$gray-40: #f8f8f8;
$gray-50: rgb(235, 235, 235, 0.5);
$gray-90: rgb(235, 235, 235, 0.9);
$gray: #d5d5d5;

$blue-30: rgba(#a7daff, 0.3);
$blue-50: rgba(#a7daff, 0.5);
$blue-70: rgba(#a7daff, 0.7);
$blue: #a7daff;

$red-30: rgba(#ff615e, 0.3);
$red-50: rgba(#ff615e, 0.5);
$red-70: rgba(#ff615e, 0.7);
$red: #ff615e;

$dark-soft: #313131;
$dark-md: #262626;
$dark: #1a1a1a;

$baby-pink-50: rgba(#ffd7f6, 0.5);
$baby-pink: #ffd7f6;

$aqua-50: rgba(#c6ebee, 0.5);
$aqua: #c6ebee;

$pink-50: rgba(#ebc6ee, 0.5);
$pink: #ebc6ee;

$purple-50: rgba(#e0bcff, 0.5);
$purple: #e0bcff;

$yellow-50: rgba(#ffe99f, 0.5);
$yellow: #ffe99f;

$orange-50: rgba(#ffb494, 0.5);
$orange: #ffb494;

$brown-50: rgba(#b59c8a, 0.5);
$brown: #b59c8a;

$green-50: rgba(#b5e2ba, 0.5);
$grass: #b8ddb0;
$green: #b5e2ba;

// Background colors
// Card
$bg-card-baby-pink: $baby-pink;
$bg-card-baby-pink-subtle: $baby-pink-50;
$bg-card-aqua: $aqua;
$bg-card-aqua-subtle: $aqua-50;
$bg-card-pink: $pink;
$bg-card-pink-subtle: $pink-50;
$bg-card-purple: $purple;
$bg-card-purple-subtle: $purple-50;
$bg-card-yellow: $yellow;
$bg-card-yellow-subtle: $yellow-50;
$bg-card-orange: $orange;
$bg-card-orange-subtle: $orange-50;
$bg-card-brown: $brown;
$bg-card-brown-subtle: $brown-50;
$bg-card-green: $green;
$bg-card-green-subtle: $green-50;
$bg-card-dark-subtle: $dark-soft;
$bg-card-dark: $dark;
$bg-card-red: $red-70;
$bg-card-red-subtle: $red-50;
// Button
$bg-button-error: $red;
// Error
$bg-error-subtle: $red-30;
// Default / Subtle / Invert
$bg-default: $blue;
$bg-default-subtle: $red-50;
$bg-subtle: $gray-50;
$bg-default-invert: $blue-30;

// Border colors
$border-default: $red-50;
$border-error: $red;
$border-success: $grass;
$border-subtle: $gray-90;
$border-dark: $dark;

// Text colors
$text-default: $dark-md;
$text-error: $red;
$text-success: $grass;
$text-invert: $gray-40;
$text-highlight: $blue;
