$color-blue-50: rgba(167, 218, 255, 0.5);
$color-blue: rgba(167, 218, 255, 1);

$color-black-50: rgba(0, 0, 0, 0.5);
$color-black: rgba(0, 0, 0, 1);

$color-white-50: rgba(255, 255, 255, 0.5);
$color-white: rgba(255, 255, 255, 1);

$color-gray: #f3f3f3;
