//base colors: success, error, default, etc. Based on yoko mascot color and sea
$blue: #b5e0ff;
$blue-30: rgba($blue, 0.3);
$blue-50: rgba($blue, 0.5);
$blue-70: rgba($blue, 0.7);

$red: #ff615e;
$red-10: rgba($red, 0.1);
$red-30: rgba($red, 0.3);
$red-50: rgba($red, 0.5);
$red-70: rgba($red, 0.7);

$green: #b8ddb0;
$green-30: rgba($green, 0.3);
$green-50: rgba($green, 0.5);
$green-70: rgba($green, 0.7);

$gray: #f8f8f8;
$gray-50: rgba($gray, 0.5);
$gray-70: rgba($gray, 0.7);

$dark-soft: #313131;
$dark-md: #262626;
$dark: #1a1a1a;

//base colors to use with categories
$ice-mint: #b3fff9;
$periwinkle: #b3b5ff;
$pale-lavender: #dab3ff;
$tea-green: #c1ffb3;
$pastel-pink: #ffb3d0;
$baby-blue: $blue;
$pale-peach: #ffe9b3;
$melon: #ffbfb3;
$mint-green: #b3ffcf;
$light-magenta: #ffb3fa;
$pale-lime: #ebffb3;

// Background colors

$bg-error: $red;
$bg-error-hover: $red-30;

$bg-default: $blue;
$bg-default-hover: $blue-50;
$bg-default-invert: $blue-30;

$bg-subtle: $gray;
$bg-subtle-hover: $gray-70;

$bg-dark: $dark;

// Border colors
$border-color-default: $red-10;
$border-color-error: $red;
$border-color-success: $green;
$border-color-subtle: $gray;
$border-color-dark: $dark;

// Text colors
$text-color-default: $dark-md;
$text-color-error: $red;
$text-color-success: $green;
$text-color-invert: $gray;
$text-color-highlight: $blue;
