@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

$quicksand: 'Quicksand', sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
