.c-events-view {
  padding: 10px 20px 20px 0px;

  &__cards {
    display: grid;
    gap: 20px;
    padding-bottom: 50px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .c-occurrence-card {
    &__left-container {
      padding: 12px;
      flex: 3;

      > div {
        align-content: flex-end;
      }
    }

    &__right-container {
      flex: 1;

      > span {
        flex: 1;
      }
    }
  }
}
