@use '../../../../tokens';

.c-events-view {
  height: 100%;
  padding: 10px 10px 0px 0px;

  &__cards {
    display: grid;
    gap: 20px;
    padding-bottom: 150px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }

  .c-occurrence-card {
    &__left-container {
      padding: 12px;
      flex: 3;

      > div {
        align-content: flex-end;
      }
    }

    &__right-container {
      flex: 1;

      > span {
        flex: 1;
      }
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 20px;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      padding: 10px 0;
      border-radius: tokens.$border-r-default;
      cursor: pointer;

      li {
        background-color: tokens.$bg-subtle;
        border-radius: tokens.$border-r-soft;
        padding: 5px 10px;
        @include tokens.text-sm();

        &:hover {
          background-color: tokens.$bg-default;
        }
      }
    }

    &__category,
    &__when {
      display: flex;
      flex-direction: column;
    }

    &__when {
      > div:first-of-type {
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          column-gap: 5px;
        }
      }
    }

    [data-when-active='true'],
    [data-category-active='true'] {
      background-color: tokens.$bg-default;
      @include tokens.text-sm-highlight();
    }
  }
}
