@use '../../tokens';

.p-events,
.p-actions {
  position: relative;
  height: 100%;

  &__cards {
    display: grid;
    row-gap: 30px;
    column-gap: 40px;
    padding-bottom: 50px;
  }

  &__no-data {
    display: flex;
    justify-content: center;
    height: 100%;

    > div {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-items: center;
      align-items: center;
    }
  }
}

.p-events {
  &__cards {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.p-actions {
  &__cards {
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  }

  &:has(.c-countup-card--show-desc) {
    .p-actions__cards {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .c-countup-card {
      width: fit-content;

      &__left-container {
        flex: none;
      }
    }
  }
}
