@use 'variable' as var;

$BORDER: 20px;

.cards {
  width: 100%;

  &__add-event {
    background-color: var.$dark-white;
    display: flex;
    align-items: center;
    justify-content: center !important;
    cursor: pointer;
    border-radius: $BORDER;

    &:hover {
      box-shadow: inset 1px 1px 6px var.$white;
    }
  }

  &__add-event,
  .card {
    min-height: 100px;
  }
}

.cards-view-list {
  display: flex;
  flex-direction: column;
  gap: 0px;
  row-gap: 30px;
}

.cards-view-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  animation: slideIn 0.4s ease-in 0s;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}

.cards-view-grid,
.cards-view-list {
  .card {
    border-radius: $BORDER;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 5px 3px 15px var.$gray;
    width: 100%;
    height: 140px;

    &__party {
      position: absolute;
      right: -10px;
      top: -20px;

      > svg {
        font-size: 3rem;
      }
    }

    &__content {
      display: flex;
      flex: 1;
      width: 100%;
      border-radius: 10px;

      form {
        flex: 1;
        margin-right: 10px;
        margin-left: 10px;
      }

      > div:first-of-type {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        width: 100%;
        flex: 2;

        .desc {
          font-weight: var.$fs-600;
          color: var.$dark-lighter;
          font-size: calc(var.$font-sm + 0.1rem);
          background-color: transparent;
          border: none;
          font-family: var.$quicksand;
          outline: none;
          resize: none;
          flex: 1;
          width: 100%;
          margin-top: 20px;
        }

        > span {
          font-weight: var.$fs-400;
          font-size: calc(var.$font-sm - 0.1rem);
          color: var.$dark;
          flex: none;
          margin-top: auto;
          margin-left: 15px;
          margin-bottom: 15px;
        }
      }

      .count {
        display: flex;
        align-items: center;
        font-size: calc(var.$font-sm + 0.2rem);
        background-color: var.$white;
        border-top-right-radius: $BORDER;
        border-bottom-right-radius: $BORDER;
        text-align: center;
        justify-content: center;
        flex: 1;
        color: var.$dark;
      }
    }

    &__check {
      background-color: var.$dark;
      top: -25px;
      left: -10px;
      position: absolute;
      border-radius: 50px;
      padding: 5px;

      > svg {
        fill: var.$white;
      }

      @media (max-width: 480px) {
        margin-top: 20px;
      }
    }
  }
}

.dark {
  .cards {
    &__add-event {
      background-color: var.$dark-lighter;

      &:hover {
        box-shadow: inset 1px 1px 6px var.$dark;
      }
    }

    .card {
      &__check {
        background-color: var.$white;

        > svg {
          fill: var.$dark;
        }
      }

      &__party {
        svg {
          fill: var.$dark;
          stroke: var.$white;
          stroke-width: 6px;
        }
      }
    }
  }
}
