@use 'variable' as var;

.color-circle--#{var.$light-green-code} {
  background-color: var.$light-green-color;
}

.color-circle--#{var.$light-blue-code} {
  background-color: var.$light-blue-color;
}

.color-circle--#{var.$light-yellow-code} {
  background-color: var.$light-yellow-color;
}

.color-circle--#{var.$light-salmon-code} {
  background-color: var.$light-salmon-color;
}

.color-circle--#{var.$light-beige-code} {
  background-color: var.$light-beige-color;
}

.color-circle--#{var.$light-brown-code} {
  background-color: var.$light-brown-color;
}

.color-circle--#{var.$light-purple-code} {
  background-color: var.$light-purple-color;
}

.color-circle--#{var.$light-orange-code} {
  background-color: var.$light-orange-color;
}

.color-circle--#{var.$light-pink-code} {
  background-color: var.$light-pink-color;
}
