@use './tokens';

.c-footer {
  > div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-shrink: 0;
    position: relative;
    overflow: visible;

    > img {
      position: absolute;
      bottom: -300px;
      width: 600px;
      right: 90px;
      z-index: -1;
      opacity: 0.4;
    }

    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;

      @media (min-width: tokens.$desktop-sm-min) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }

  &__copyright {
    position: relative;

    > div {
      position: absolute;
      top: -10px;
      left: 30px;
    }

    img {
      width: 19px;
      height: 19px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    span {
      @include tokens.text-sm();
    }
  }
}
