@use 'variable' as var;

.header {
  display: flex;
  justify-content: space-between;
  column-gap: var.$spacing-sm;
  align-items: center;

  margin-bottom: 40px;

  &__title-wrapper {
    display: flex;
    column-gap: 10px;
    position: relative;
    flex: 1;

    &__img-wrapper {
      width: auto;
      height: auto;
      max-width: 40px;
      max-height: 40px;
      position: absolute;
      z-index: 100;
      top: -25px;
      left: 18px;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    &__title {
      font-size: 36px;
      font-weight: 700;
      z-index: 200;
    }

    .toggle-btn {
      cursor: pointer;
    }
  }

  form {
    display: flex;
    flex: 2;
    border: 1px solid var.$dark;
    padding: var.$spacing-sm;
    border-radius: 20px;

    &:hover {
      outline: 1px solid var.$dark;
    }

    input {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    column-gap: var.$spacing-xs;
    flex: 1;
    justify-content: flex-end;

    .select-btn,
    .toggle-btn {
      padding: var.$spacing-xs;
      border-radius: 15px;
      cursor: pointer;
    }

    .select-btn:hover,
    .toggle-btn:hover {
      background-color: var.$dark-white !important;
    }
  }
}

@media (max-width: var.$tablet) {
  .header {
    flex-direction: column;
    row-gap: var.$spacing-sm;
    width: 100%;
    align-items: initial;

    &__title-wrapper {
      flex: none;
      justify-content: center;

      &__img-wrapper {
        top: -10%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    form {
      flex: 1;
    }

    &__menu {
      flex: none;
      justify-content: center;
    }
  }
}

.dark {
  .header {
    form {
      border-color: var.$white;

      &:hover {
        outline-color: var.$white;
      }
    }

    &__menu {
      .select-btn:hover,
      .toggle-btn:hover {
        background-color: var.$dark-lighter !important;
      }
    }
  }
}
