@use 'variable' as var;

.modal {
  border: none;
  position: fixed;
  top: 0;
  margin-right: 0;
  background-color: var.$dark-white;
  max-width: 350px;
  height: 100%;
  padding: 20px 30px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 20px;

  @media (max-width: var.$mobile) {
    position: absolute;
    width: 100%;
    padding: 0;
    max-width: unset;
    border-radius: unset;
  }

  &__content {
    padding: var.$spacing-md var.$spacing-sm;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;

      &__title {
        font-size: calc(var.$font-sm + 0.7rem);
      }

      &__close {
        cursor: pointer;
        border-radius: 10px;
        padding: 0.2rem;

        &:hover {
          background-color: var.$white !important;
        }
      }
    }
  }
}

.card-date-update {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  &__date {
    display: flex;
    flex-direction: column;
    row-gap: 2px;

    > input {
      width: min-content;
      background-color: var.$white;
      border-radius: 5px;
      padding: 10px;
    }
  }

  &__colors {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &__colors {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      .color-circle {
        height: 25px !important;
        width: 25px;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
      }

      .color-circle:hover {
        transform: scale(1.2);
      }
    }
  }
}

.select-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 40px;

  &__option {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
  }

  &__active {
    background-color: var.$dark;
    color: #fff;
  }
}
