@use 'sass:meta';
@use './tokens';
@include meta.load-css('reset');

::-webkit-scrollbar {
  width: 5px;
}

:root {
  color: tokens.$text-color-default;
  @include tokens.text-base();
}

body {
  max-width: 1800px;
  margin: 0 auto;
  // &:has(.dark) {
  //   background-color: var.$dark;
  //   color: var.$white;
  // }
}

.app {
  padding: 1.4rem 5rem 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &__outlet {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 20px;
  }

  // @media (max-width: var.$tablet) {
  //   padding: var.$spacing-lg var.$spacing-sm;
  // }
}

.highlight {
  color: tokens.$text-color-highlight;
  font-weight: 700;
}

// main {
//   margin-top: var.$spacing-lg;
// }

/* tokens */
@include meta.load-css('tokens');

// @include meta.load-css('modal');
// @include meta.load-css('cards');
// @include meta.load-css('animation');
// @include meta.load-css('color-circle');

/* components */
@include meta.load-css('components/utils/divider');

@include meta.load-css('components/display/logo');
@include meta.load-css('components/display/dynamic-modal');

@include meta.load-css('components/action/toggle-btn');
@include meta.load-css('components/action/list-toolbar');
@include meta.load-css('components/action/default-btn');

@include meta.load-css('./header');
@include meta.load-css('./footer');

@include meta.load-css('components/cards/add-card');

// @include meta.load-css('components/button/toggle');
// @include meta.load-css('components/grid');

/* pages */
@include meta.load-css('pages/homepage');
@include meta.load-css('pages/homepage/components/info-card');
@include meta.load-css('pages/occurrence');
@include meta.load-css('pages/occurrence/components/occurrence-card');

// @include meta.load-css('pages/login');
