@use 'sass:meta';
@use 'variable' as var;

::-webkit-scrollbar {
  width: 5px;
}

:root {
  color: var.$dark;
  font-family: var.$quicksand;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
  margin: 0;

  &:has(.dark) {
    background-color: var.$dark;
    color: var.$white;
  }
}

.app {
  padding: var.$spacing-lg var.$spacing-xl;
  height: 100%;

  @media (max-width: var.$tablet) {
    padding: var.$spacing-lg var.$spacing-sm;
  }
}

button,
input {
  all: unset;
}

svg {
  font-size: 1.8rem;
}

@include meta.load-css('header');
@include meta.load-css('modal');
@include meta.load-css('cards');
@include meta.load-css('animation');
@include meta.load-css('color-circle');
