@use 'sass:meta';
@use './tokens';
@include meta.load-css('reset');

::-webkit-scrollbar {
  width: 5px;
}

:root {
  color: tokens.$text-color-default;
  @include tokens.text-base();

  --aside-size: 50px;
}

body {
  max-width: 1800px;
  min-height: 100vh;
  margin: 0 auto;
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  &__main-wrapper {
    height: 100%;
    width: 100%;

    &:has(.c-calendar-view) {
      > img {
        display: none;
      }
    }

    > img {
      position: absolute;
      bottom: -10px;
      width: 200px;
      right: 0px;
      z-index: 90;
    }

    @media (min-width: tokens.$tablet-min) {
      > img {
        bottom: -85px;
        width: 300px;
      }
    }

    &__outlet-wrapper {
      display: flex;
      flex: 1;
      height: 100%;
      width: 100%;

      &__aside {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: var(--aside-size);
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 20px;
        background-color: tokens.$bg-subtle;

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
          list-style: none;
          padding: 0;

          li {
            a {
              display: block;
              width: 42px;
              height: 42px;
              padding: 5px;

              &:hover {
                background-color: tokens.$bg-white;
                border-radius: tokens.$border-r-default;
              }

              svg {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }

      &__main {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        &__outlet {
          min-height: 0;
          height: 100%;
          width: 100%;
          margin: 5px 5px 0px var(--aside-size);
          overflow-y: auto;
          background-color: tokens.$bg-subtle-light;
          border-radius: tokens.$border-r-default;
        }

        .c-footer {
          margin-left: var(--aside-size);
        }
      }
    }
  }
}

/* tokens */
@include meta.load-css('tokens');
@include meta.load-css('animation');

/* components */
@include meta.load-css('components/utils/divider');

@include meta.load-css('components/display/logo');
@include meta.load-css('components/display/dynamic-modal');
@include meta.load-css('components/display/modal');

@include meta.load-css('components/action/toggle-btn');
@include meta.load-css('components/action/list-toolbar');
@include meta.load-css('components/action/default-btn');

@include meta.load-css('./header');
@include meta.load-css('./footer');

/* pages */
@include meta.load-css('pages/homepage');
@include meta.load-css('pages/homepage/components/info-card');

@include meta.load-css('pages/occurrence');
@include meta.load-css('pages/occurrence/components/create-edit-occ-form');
@include meta.load-css('pages/occurrence/components/occurrence-card');
@include meta.load-css('pages/occurrence/components/not-found');
@include meta.load-css('pages/occurrence/components/events-view');
@include meta.load-css('pages/occurrence/components/calendar-view');
@include meta.load-css('pages/occurrence/components/actions-view');
